{% extends "portfolio/base.html" %}
{% load static %}


{% block title %}
About
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static 'portfolio/css/about.css' %}">
{% endblock %}


{% block content %}

<div class="heading">The Engineering Profile</div>
<div class="block">
    <div class="grid">
        <div class="video">
            <video src="https://res.cloudinary.com/ddni2vnua/video/upload/v1778649777/lappy_qykwei.mp4" autoplay="" loop="" playsinline="" class="w-full h-full object-cover">
            </video>
        </div>

        <div class="intro">
            <div class="description">
                <div class="about">
                    I'm a <span style="color: #00f3ff;">Development-Focused Software Developer</span> building projects & technical solutions that matter.
                </div>
                <p>
                    My approach combines strict clean code principles with a deep understanding of full-stack ecosystems. Currently specializing in the <span style="color: #fafeff;">Python Full Stack</span>, I architect systems that prioritize performance and security.
                </p>
                <p>
                    I bridge the gap between complex engineering challenges and seamless user experiences through <span style="color: #fafeff;">intentional design</span> and <span style="color: #fafeff;">technical excellence.</span>
                </p>
            </div>
        </div>

        <div class="buttons">
            <a href="static/Resume/Arpit's Resume.pdf" target="_blank" rel="noopener noreferrer">
                Resume
            </a>
            
            <div class="available">💠 Available for Work</div>
        </div>
    </div>
</div>

{% endblock %}