{% extends "portfolio/base.html" %}
{% load static %}


{% block title %}
Certification
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static 'portfolio/css/certification.css' %}">
{% endblock %}


{% block content %}

<div class="heading">Certifications</div>
<div class="grid">
    <div class="card">
        <div class="name">GDG</div>
        <div class="collection">
            <ul>
                <li>
                    <a class="cert" href="{% static 'portfolio/images/certification/GDG Certificate.pdf' %}" target="_blank" rel="noopener noreferrer">GDG on campus</a>
                </li>
                <li>
                    <a class="cert" href="{% static 'portfolio/images/certification/AI Manthan.png' %}" target="_blank" rel="noopener noreferrer">AI Manthan</a>
                </li>
                <li>
                    <a class="cert" href="{% static 'portfolio/images/certification/Roboverse Certificate.png' %}" target="_blank" rel="noopener noreferrer">Robo Verse</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="name">Gemini</div>
        <div class="collection">
            <ul>
                <li>
                    <a class="cert" href="{% static 'portfolio/images/certification/Gemini Certificate.pdf' %}" target="_blank" rel="noopener noreferrer">Google AI</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="name">AMD</div>
        <div class="collection">
            <ul>
                <li>
                    <a class="cert" href="{% static 'portfolio/images/certification/AI on AMD.pdf' %}" target="_blank" rel="noopener noreferrer">AI on AMD</a>
                </li>
                <li>
                    <a class="cert" href="{% static 'portfolio/images/certification/Diffusion Models From Prompts to Images and Videos.pdf' %}" target="_blank" rel="noopener noreferrer">Diffusion Models</a>
                </li>
                <li>
                    <a class="cert" href="{% static 'portfolio/images/certification/Hackingly.jpeg' %}" target="_blank" rel="noopener noreferrer">Hackingly</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="name">Coursera</div>
        <div class="collection">
            <ul>
                <li>
                    <a class="cert" href="{% static 'portfolio/images/certification/Foundations of Data.pdf' %}" target="_blank" rel="noopener noreferrer">Foundations of Data</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="name">AKTU University</div>
        <div class="collection">
            <ul>
                <li>
                    <a class="cert" href="{% static 'portfolio/images/certification/Web Development.pdf' %}" target="_blank" rel="noopener noreferrer">Web Development</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="name">Academics</div>
        <div class="collection">
            <ul>
                <li>
                    <a class="cert" href="{% static 'portfolio/images/certification/Python.jpeg' %}" target="_blank" rel="noopener noreferrer">Python Competition</a>
                </li>
                <li>
                    <a class="cert" href="{% static 'portfolio/images/certification/Ducat.pdf' %}" target="_blank" rel="noopener noreferrer">Industrial Visit</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="name">Udemy</div>
        <div class="collection">
            <ul>
                <li>
                    <a class="cert" href="{% static 'portfolio/images/certification/Python.pdf' %}" target="_blank" rel="noopener noreferrer">Python Certification</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="name">Unstop</div>
        <div class="collection">
            <ul>
                <li>
                    <a class="cert" href="{% static 'portfolio/images/certification/AI Verse.pdf' %}" target="_blank" rel="noopener noreferrer">AI Verse</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="name">iCAT</div>
        <div class="collection">
            <ul>
                <li>
                    <a class="cert" href="{% static 'portfolio/images/certification/Arpit Gupta - Participation Certificate.pdf' %}" target="_blank" rel="noopener noreferrer">iCAt</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}