{% extends "portfolio/base.html" %}
{% load static %}


{% block title %}
Contact
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static 'portfolio/css/contact.css' %}">
{% endblock %}


{% block content %}

<div class="main-heading">Get In Touch</div>
<div class="main-note">
    <p>
        Currently open for <span class="span">new opportunities</span> and collaborations. Whether you have a technical question or a project idea, I'm just a message away.
    </p>
</div>

<div class="main-grid">
    <div class="main-left-child-grid">
        <div class="brief-heading">💬 Direct Access</div>

        <a href="mailto:gupta.arpitkumar11112005@gmail.com" class="main-link" target="_blank" rel="noopener noreferrer">
            <div class="link-name">Email</div>
            <div class="link-url">gupta.arpitkumar11112005@gmail.com</div>
        </a>

        <a href="https://www.linkedin.com/in/engr-arpit-gupta" class="main-link" target="_blank" rel="noopener noreferrer">
            <div class="link-name">LinkedIn</div>
            <div class="link-url">Arpit Gupta</div>
        </a>

        <a href="https://github.com/Arpit-TheDeveloper" class="main-link" target="_blank" rel="noopener noreferrer">
            <div class="link-name">GitHub</div>
            <div class="link-url">Arpit-TheDeveloper</div>
        </a>

        <a href="https://www.instagram.com/the.arpitgupta/" class="main-link" target="_blank" rel="noopener noreferrer">
            <div class="link-name">Instagram</div>
            <div class="link-url">the.arpitgupta</div>
        </a>
    </div>

    <div class="main-right-child-grid">
        <div class="layout">
            <div class="block">
                <div class="box">
                    <div class="name">
                        <label for="name">Name</label>
                    </div>
                    <br>
                    <div class="input">
                        <input type="text" id="name" placeholder="Your Name">
                    </div>
                </div>
                <div class="box">
                    <div class="name">
                        <label for="email">Email</label>
                    </div>
                    <br>
                    <div class="input">
                        <input type="email" id="email" placeholder="Email Address">
                    </div>
                </div>
                <div class="box">
                    <div class="name">
                        <label for="message">Message</label>
                    </div>
                    <br>
                    <div class="input">
                        <input type="text" id="message" placeholder="What's on your mind...??">
                    </div>
                </div>
            </div>

            <div class="button">
                <a href="#" class="send-btn">
                    ↗️ Send Engineering Brief
                </a>
            </div>
        </div>
    </div>
</div>
<a href="https://forms.gle/sxYKacgdphzX1VvDA" class="google-form" target="_blank" rel="noopener noreferrer">
    <div class="btn">Send Engineering Brief ↗️</div>
</a>

{% endblock %}