{% extends "portfolio/base.html" %}
{% load static %}


{% block title %}
Experience
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static 'portfolio/css/experience.css' %}">
{% endblock %}


{% block content %}

<div class="heading">Technical Contributions</div>
    
<div class="grid">
    <div class="card">
        <div class="flex">
            <div class="company">IOT Renetics <span style="color: #f2f2f2; font-size: 25px;">(Technical Intern)</span></div>

            <div class="tenure">12/2025-02/2026</div>
        </div>
        <div class="description">
            <ul>
                <div class="details">
                    <li class="list">
                        Collaborated with engineering teams to resolve technical challenges and optimize solution performance.
                    </li>
                    <li class="list">
                        Assisted in designing, developing, and testing technology solutions to address user needs.
                    </li>
                    <li class="list">
                        Offer Letter : 
                        <a class="link" href="static/offer_letter/Offer Letter on AI ML.pdf" target="_blank" rel="noopener noreferrer">Intern for AIML</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="flex">
            <div class="company">Uptricks Services Pvt. Ltd. <span style="color: #f2f2f2; font-size: 25px;">(Technical Intern)</span></div>

            <div class="tenure">12/2025-02/2026</div>
        </div>
        <div class="description">
            <ul>
                <div class="details">
                    <li class="list">
                        Collaborated with engineering teams to resolve technical challenges and optimize solution performance.
                    </li>
                    <li class="list">
                        Assisted in designing, developing, and testing technology solutions to address user needs.
                    </li>
                    <li class="list">
                        Offer Letter : 
                        <a class="link" href="static/offer_letter/Offer Letter.pdf" target="_blank" rel="noopener noreferrer">Machine Learning</a>
                    </li>
                    <li class="list">
                        Internship Completion Letter :
                        <a class="link" href="static/offer_letter/Uptricks Internship Completion Certificate.pdf" target="_blank" rel="noopener noreferrer">Certificate of Internship</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="flex">
            <div class="company">SaiKet Systems <span style="color: #f2f2f2; font-size: 25px;">(Technical Intern)</span></div>

            <div class="tenure">12/2025-01/2026</div>
        </div>
        <div class="description">
            <ul>
                <div class="details">
                    <li class="list">
                        Collaborated with engineering teams to resolve technical challenges and optimize solution performance.
                    </li>
                    <li class="list">
                        Assisted in designing, developing, and testing technology solutions to address user needs.
                    </li>
                    <li class="list">
                        Offer Letter :
                        <a class="link" href="static/offer_letter/Offer Letter for Python Development.pdf" target="_blank" rel="noopener noreferrer">Python Development</a>

                        <a class="link" href="static/offer_letter/Offer Letter for Data Analysis.pdf" target="_blank" rel="noopener noreferrer">Data Analysis</a>

                        <a class="link" href="static/offer_letter/Offer Letter for Data Science.pdf" target="_blank" rel="noopener noreferrer">Data Science</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>

{% endblock %}