{% extends "portfolio/base.html" %}
{% load static %}


{% block title %}
Skills
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static 'portfolio/css/skills.css' %}">
{% endblock %}


{% block content %}

<div class="headline">A passinate Dev making <span style="color: red;">things</span> the right way</div>

<div class="heading">Technical Arsenal</div>

<div class="grid">
    <div class="card">
        <div class="skill-name">Frontend</div>
        <div class="skill-grid">
            <img class="image" src="https://skillicons.dev/icons?i=html" alt="html">
            <img class="image" src="https://skillicons.dev/icons?i=css" alt="css">
        </div>
    </div>

    <div class="card">
        <div class="skill-name">Backend</div>
        <div class="skill-grid">
            <img class="image" src="https://skillicons.dev/icons?i=python" alt="python">
            <img class="image" src="https://skillicons.dev/icons?i=django" alt="django">
            <img class="image" src="https://skillicons.dev/icons?i=flask" alt="flask">
            <img class="image" src="https://skillicons.dev/icons?i=fastapi" alt="fastapi">
        </div>
    </div>

    <div class="card">
        <div class="skill-name">AI</div>
        <div class="skill-grid">
            <img class="image" src="https://skillicons.dev/icons?i=pytorch" alt="pytorch">
            <img class="image" src="https://skillicons.dev/icons?i=opencv" alt="opencv">
            <img class="image" src="https://skillicons.dev/icons?i=sklearn" alt="sklearn">
            <img class="image" src="https://skillicons.dev/icons?i=tensorflow" alt="tensorflow">
        </div>
    </div>
            
    <div class="card">
        <div class="skill-name">Database</div>
        <div class="skill-grid">
            <img class="image" src="https://skillicons.dev/icons?i=mysql" alt="mysql">
            <img class="image" src="https://skillicons.dev/icons?i=sqlite" alt="sqlite">
        </div>
    </div>

    <div class="card">
        <div class="skill-name">Languages</div>
        <div class="skill-grid">
            <img class="image" src="https://skillicons.dev/icons?i=python" alt="python">
            <img class="image" src="https://skillicons.dev/icons?i=js" alt="js">
            <img class="image" src="https://skillicons.dev/icons?i=c" alt="c">
        </div>
    </div>

    <div class="card">
        <div class="skill-name">Tools</div>
        <div class="skill-grid">
            <img class="image" src="https://skillicons.dev/icons?i=git" alt="git">
            <img class="image" src="https://skillicons.dev/icons?i=github" alt="github">
            <img class="image" src="https://skillicons.dev/icons?i=vscode" alt="vscode">
            <img class="image" src="https://skillicons.dev/icons?i=pycharm" alt="pycharm">
            <img class="image" src="https://skillicons.dev/icons?i=powershell" alt="powershell">
            <img class="image" src="https://skillicons.dev/icons?i=cloudflare" alt="cloudflare">
            <img class="image" src="https://skillicons.dev/icons?i=md" alt="md">
        </div>
    </div>

    <div class="card">
        <div class="skill-name">Currently Learning</div>
        <div class="skill-grid">
            <img class="image" src="https://skillicons.dev/icons?i=js" alt="js">
            <img class="image" src="https://skillicons.dev/icons?i=kali" alt="kali">
            <img class="image" src="https://skillicons.dev/icons?i=linux" alt="linux">
        </div>
    </div>

    <div class="card">
        <div class="skill-name">Future Learnings</div>
        <div class="skill-grid">
            <img class="image" src="https://skillicons.dev/icons?i=postgres" alt="postgres">
            <img class="image" src="https://skillicons.dev/icons?i=aws" alt="aws">
            <img class="image" src="https://skillicons.dev/icons?i=docker" alt="docker">
            <img class="image" src="https://skillicons.dev/icons?i=kubernetes" alt="kubernetes">
            <img class="image" src="https://skillicons.dev/icons?i=flutter" alt="flutter">
            <img class="image" src="https://skillicons.dev/icons?i=redis" alt="redis">
        </div>
    </div>
    
</div>

{% endblock %}